.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flexColumn {
	@extend .flex;
	flex-direction: column;
}

.userInput {
	@extend .flex;
	width: 100%;
    margin-bottom:30px;

	.input {
		background-color: transparent;
		border: none;
		outline-width: 0;
		text-align: center;
		display: inline-block;
		border-bottom: 1px solid var(--lightGrey);
		font-family: monospace;
		width: 70%;
		height: 35px;
		line-height: 35px;
		font-size: 20px;
		color: var(--textColor);
		padding: 0 0 0 0;
		text-overflow: ellipsis !important;
		margin-left: 20px;
		text-transform: capitalize;

		&::placeholder {
			color: var(--green);
		}
	}
	.addButton {
		display: inline-block;
		outline-width: 0;
		float: center;
		height: 39px;
		width: auto;
		color: black;
		font-family: monospace;
		font-size: 20px;
		text-align: center;
		line-height: 39px;
		cursor: pointer;

		margin-left: 40px;
	}

	.darkMode {
		transition: 0.1s all ease-in-out;
		background-color: var(--darkMode);
		color: white;
	}
}

@media only screen and (max-width: 600px) {
	.App {
		.container {
			.userInput {
				.input {
					font-size: 11px;
				}
				.addButton {
					margin-right: 15px;
				}
			}
		}
	}
}
