.flex {
	display: flex;
	align-items: center;
	// justify-content: center;
}
.flexColumn {
	@extend .flex;
	flex-direction: column;
}

.todo {
	color: var(--green);
}
.toDoListContainer {
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	width: 90%;
	@extend .flexColumn;
	margin: 10px 0px;

	.toDoList {
		width: 90%;
		display: flex;
		@extend .flexColumn;
		padding: 0px 10px;

		.flex {
			width: 100%;
			overflow: hidden;

			li {
				animation: slidein 0.2s;
				animation-fill-mode: forwards;
				position: relative;
				line-height: 50px;
				font-size: 25px;
				height: 50px;
				margin-top: 5px;
				text-align: center;
				color: var(--textColor);
				list-style-type: none;
				overflow: hidden !important;
				white-space: nowrap;
				text-overflow: ellipsis !important;
				max-width: 90% !important;
				margin-left: 83px;
				text-transform: capitalize;

				&:hover {
					color: var(--tomato);
					border-color: var(--tomato);
					cursor: pointer;
				}
			}
			.todoCompleted {
				color: var(--green);
				background-color: var(--white);
				margin-left: 40px;
			}
			.darkMode {
				transition: 0.1s all ease-in-out;
				background-color: var(--darkMode);
				color: white;
			}
		}
	}
}
.toDoListContainer::-webkit-scrollbar {
	width: 8px;
}
.toDoListContainer::-webkit-scrollbar-thumb {
	background-color: var(--blue);
	border-radius: 50px;
}
.toDoListContainer::-webkit-scrollbar-track {
	background-color: var(--darkBlue);
	border-radius: 50px;
}
