.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flexColumn {
	@extend .flex;
	flex-direction: column;
}

.App {
	font-family: "Ubuntu";
	background-color: var(--blue);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.container {
		@extend .flexColumn;
		border-radius: 10px;
		background-color: var(--white);
		font-family: monospace;
		width: 60vw;
		margin: auto;
		min-height: 300px;
		max-height: 80%;

		.todo {
			color: var(--green);
		}
		.toDoListContainer {
			overflow-y: scroll;
			scrollbar-width: none;
			-ms-overflow-style: none;
			width: 90%;
			@extend .flexColumn;

			margin: 10px 0px;
			ul.toDoList {
				width: 80%;
				@extend .flexColumn;
				padding: 0px 10px;

				li {
					overflow: auto;
					animation: slidein 0.2s;
					animation-fill-mode: forwards;
					position: relative;
					line-height: 50px;
					font-size: 25px;
					width: 100%;
					height: 50px;
					margin-top: 3px;
					text-align: center;
					color: var(--lightGrey);
					border-color: var(--lightGrey);
					list-style-type: none;
					border-bottom: 1px solid;

					&:hover {
						color: var(--tomato);
						border-color: var(--tomato);
						font-weight: bold;
						cursor: pointer;
					}

					.todoCompleted {
						position: absolute;
						right: 0;
						top: 20px;
						color: var(--green);
						background-color: var(--white);
					}
				}
			}
		}
		.toDoListContainer::-webkit-scrollbar {
			width: 8px;
		}
		.toDoListContainer::-webkit-scrollbar-thumb {
			background-color: var(--blue);
			border-radius: 50px;
		}
		.toDoListContainer::-webkit-scrollbar-track {
			background-color: var(--darkBlue);
			border-radius: 50px;
		}
	}
	button {
		cursor: pointer;
	}
	span,
	button {
		animation: opacity 0.5s;
		animation-fill-mode: forwards;
		&:hover {
			font-weight: bold;
		}
	}
	button {
		border: none;
		outline-width: 0;
	}
}

h1 {
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.App {
		align-items: flex-start;
		.container {
			border-radius: 5px;
			width: 80vw;
			max-height: 80vh;
			margin: 30px auto;

			.userInput {
				.input {
					height: 25px;
					font-size: 20px;
				}
				.addButton {
					height: 39px;
					width: 20%;
					font-size: 22px;
				}
			}
			.todo {
				font-size: 16px;
			}

			.toDoListContainer {
				ul.toDoList {
					width: 90%;
					li {
						line-height: 30px;
						font-size: 16px;
						width: 100%;
						height: 30px;
						.todoCompleted {
							top: 10px;
							margin: 20px;
						}
					}
				}
			}
			.doneListContainer {
				.doneList {
					.done {
						color: var(--green);
					}
					li {
						line-height: 40px;
						font-size: 20px;
						height: 40px;
					}
					span {
						color: var(--green);
					}
				}
			}
		}
	}
}
@keyframes slidein {
	0% {
		width: 0;
		opacity: 0;
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}
@keyframes opacity {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
